<ul class="nav nav-pills">

<li><%= link_to "France", charts_france_path %></li>
<li><%= link_to "UK", charts_uk_path %></li>
<li><%= link_to "Germany", charts_germany_path %></li>
<li><%= link_to "Russia", charts_russia_path %></li>
</ul>